<header>
  <div class="container h-full flex items-center">
    <img src="/assets/img/marvel-logo.svg">
    <div class="hero-icons ml-auto">
      <img (click)="refreshCharacters(prefix='Captain America')" src="/assets/img/captain-america.svg">
      <img (click)="refreshCharacters(prefix='Iron Man')" src="/assets/img/iron-man.svg">
      <img (click)="refreshCharacters(prefix='Spider-Man')" src="/assets/img/spiderman.svg">
      <img (click)="refreshCharacters(prefix='Punisher')" src="/assets/img/punisher.svg">
      <img (click)="refreshCharacters(prefix='Wolverine')" src="/assets/img/wolverine.svg">
      <img (click)="refreshCharacters(prefix='Thor')" src="/assets/img/thor.svg">
      <img (click)="refreshCharacters(prefix='Hulk')" src="/assets/img/hulk.svg">
      <img (click)="refreshCharacters(prefix='Venom')" src="/assets/img/venom.svg">
      <img (click)="refreshCharacters(prefix='Ghost Rider')" src="/assets/img/ghost-rider.svg">
      <img (click)="refreshCharacters(prefix='Deadpool')" src="/assets/img/deadpool.svg">
    </div>
  </div>
</header>
<nav>
  <div class="container h-full flex items-center space-between">
    <div id="search" class="flex">
      <div>Search</div>
      <input type="text" [value]="prefix" [(ngModel)]="prefix">
      <button (click)="refreshCharacters(prefix)">Go</button>
    </div>

    <div class="flex ml-auto letter-filter">
      <a *ngFor="let letter of alphabetArray"
        (click)="refreshCharacters(prefix=letter)"
      >{{letter}}</a>
    </div>
  </div>
</nav>
<div class="content flex-auto py-6">
  <div class="container">
    <div class="flex items-center mb-4">
      <span class="paging" (click)="refreshCharacters()">clear filter</span>
      <span class="paging ml-auto" (click)="minusOffset(18)"><< Previous</span>
      <span class="paging ml-6" (click)="plusOffset(18)">Next >></span>
    </div>

    <div class="wrapper">
      <div 
        *ngFor="let character of characters"
        class="character flex flex-col"
        [attr.data-character]="character">
        
        <div 
          class="character-image"
          (click)="goToCharacter(character.urls[0].url)"
          [ngStyle]="{
            'background-image': 'url(' + character.thumbnail.path + '.' + character.thumbnail.extension + ')'
          }"></div>
        
        <div class="character-details">
          <div class="character-name">
            <h4>{{character.name}}</h4>
          </div>
          <p *ngIf="character.description.length > 135">
            {{character.description | slice:0:135}}...
          </p>
          <p *ngIf="character.description.length < 135">
            {{character.description.length ? character.description : 'No description available.'}}
          </p>
          <div class="mt-auto text-right text-xs">
            <a [href]="character.urls[0].url">view details</a>
          </div>
        </div>      
      </div>
    </div>      
    <div class="text-right flex items-center mb-4">
      <span class="paging" (click)="refreshCharacters()">clear filter</span>
      <span class="paging ml-auto" (click)="minusOffset(18)"><< Previous</span>
      <span class="paging ml-6" (click)="plusOffset(18)">Next >></span>
    </div>
  </div>  
</div>
<footer>
  <div class="pb-4 container h-full flex items-center pt-1 space-between">
    <div>&copy; {{thisYear}} <a href="http://iamchris.io" class="mx-2">iamchris.io</a> | <a href="http://ccrooke.com"  class="ml-2">ccrooke.com</a></div>
    <div class="mx-auto">
      made with <a href="https://angular.io/">angular</a>, <a href="https://tailwindcss.com">tailwind css</a>, and <a href="https://marvel.com">marvel</a>
    </div>
    <div class="text-right text-xs credits">Data provided by Marvel. Icons by <a href="http://www.freepik.com">Freepik</a>/<a href="http://www.flaticon.com">flaticon</a></div>
  </div>  
</footer>
<div class="spinner" *ngIf="showSpinner">
  <img class="path" src="/assets/img/spiderman-web-spinner.svg">
</div>