//http://fontsgeek.com/fonts/BentonSans-Comp-Black-Regular

$colors: (
  marvel-red: #ED1D24,
  white: #eeeeee,
  dark-back: #171717,
  black: color(black),
  gray: #8C8C8C,
  footer-gray: #626262
);

@function color($color-name) {
  @return map-get($colors, $color-name)
}

$break1180: 1180px;
$break980: 980px;
$break900: 900px;
$break770: 770px;
$break660: 660px;
$break600: 600px;
$break580: 580px;
$break400: 400px;

@mixin break1180 {
  @media (max-width: #{$break1180}) {
    @content;
  }
}

@mixin break980 {
  @media (max-width: #{$break980}) {
    @content;
  }
}

@mixin break900 {
  @media (max-width: #{$break900}) {
    @content;
  }
}

@mixin break770 {
  @media (max-width: #{$break770}) {
    @content;
  }
}

@mixin break660 {
  @media (max-width: #{$break660}) {
    @content;
  }
}

@mixin break600 {
  @media (max-width: #{$break600}) {
    @content;
  }
}

@mixin break580 {
  @media (max-width: #{$break580}) {
    @content;
  }
}

@mixin break400 {
  @media (max-width: #{$break400}) {
    @content;
  }
}

* {
  font-family: 'Roboto';
  font-weight: 300;
  text-decoration: none;
  outline: none;
}

html, body, app-root {
  height: 100%;
  min-width: 400px;
}

a {
  cursor: pointer;
}

app-root {
  display: flex;
  flex-direction: column;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 80px;
  height: 80px;
    
  & .path {
    animation: dash 1.5s ease-in-out infinite;
  }  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 1140px;
  min-width: 400px;
  margin: 0 auto;

  @include break980 {
    padding: 0 .5rem;
  }
}

header {
  height: 65px;
  background-color: color(marvel-red);
  color: color(white);
  
  img {
    height: 65px;
    cursor: pointer;
  }

  .hero-icons {
    img {
      margin-left: 1rem;
      height: 34px;
      transition: all .2s ease-in-out;
      
      &:hover {
        transform: scale(1.1);        
      }

      @include break770 {
        height: 30px;
      }

      @include break770 {
        height: 24px;
      }
    }
    
    @include break1180 {
      padding-right: 1rem;
    }

    @include break980 {
      padding-right: .25rem;
    }

    @include break600 {
      display: none;
    }
  }
}

nav {
  height: 40px;
  background-color: #22262A;
  align-items: center;
  color: color(white);

  #search {
    display: flex;
    align-items: center;
    
    div {
      padding-top: .15rem;
    }

    input[type=text] {
      color: #b7b7b7;
      height: 30px;
      margin: 0 .75rem 0 0;
      background: #2E3438;
      border: 1px solid #1b1b1b; 
      width: 250px;
      padding: 0 .5rem;
    }

    button {
      font-size: .85rem;
      background: color(marvel-red);
      color: color(white);
      border-radius: 50%;
      height: 26px;
      width: 26px;
    }

    input[type=checkbox] {
      margin: 0 .2rem 0 .7rem;
    }

    span {
      color: color(gray);
      text-transform: lowercase;
      font-size: .8rem;
      cursor: pointer;
    }

    .search-filter-results {
      background: color(white);
      color: color(black);
      width: 250px;
      z-index: 1;
      position: relative;
      top: 26px;
      right: 288px;
    }
  }

  .letter-filter {
    a {
      text-transform: uppercase;
      color: color(gray);
      margin-left: .5rem;

      &:hover {
        text-decoration: underline;
      }
    }

    @include break1180 {
      padding-right: 1rem;
    }

    @include break980 {
      display: none;
    }
  }  
}

.content {
  background: color(dark-back) url('/assets/img/background.svg') center 25px no-repeat;
  background-size: 550px;

  @include break580 {
    background-size: 450px;
  }

  @include break400 {
    background-size: 350px;
  }

  .no-records {
    color: color(gray);
  }

  .paging-container {
    .paging {
      color: color(gray);
      cursor: pointer;
      text-transform: uppercase;
      font-size: .9rem;

      &:hover {
        text-decoration: underline;
      }
    }

    @include break1180 {
      padding: 0 1rem 0 .25rem;
    }
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-gap: 12px;
    
    @include break1180 {
      grid-template-columns: repeat(5,auto);
    }
    
    @include break980 {
      grid-template-columns: repeat(4,auto);
    }

    @include break770 {
      grid-template-columns: repeat(3,auto);
    }

    @include break580 {
      grid-template-columns: repeat(2,auto);
    }

    @include break400 {
      grid-gap: 1px;
    }
  }
  
  .character {
    color: color(black);
    height: 350px;
    width: 175px;
    background: no-repeat #fff;
    margin-bottom: 2rem;
    
    .character-image {
      height: 175px;
      width: 175px;
      background-size: 175px 175px;
      transition: all .3s ease-in-out;
      cursor: pointer;

      &:hover {
        transform: scale(1.4);
        border: 1px solid color(black);

        @include break600 {
          transform: none;
        }
      }      
    }

    .character-details {
      margin-top: auto;
      color: color(black);
      height: 175px;
      padding: .25rem;
      display: flex;
      flex-direction: column;

      .character-name {
        height: 40px;
      }

      h4 {
        font-size: .9rem;
        font-weight: 400;
        margin-bottom: .5rem;
      }

      p {
        font-size: .9rem;
      }

      a {
        color: color(marvel-red);
      }
    }
  }

}

footer {
  color: color(footer-gray);
  background-color: color(dark-back);
  font-size: .8rem;
  height: 30px;

  a {
    color: color(marvel-red);
  }

  .credits {
    a { color: color(footer-gray); }
  }

  @include break900 {
    height: auto;
    > div {
      flex-direction: column;
      div {
        margin: .35rem auto;
      }
    }
  }
}